@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.App {
  background-color: white;
  color: #5c4033;
  font-family: 'Lato';
}

.roster-card {
  background-color: #5c4033;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.roster-card:hover {
  background-color: white;
  color: #5c4033;
  cursor: pointer;
}
